.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-family: "CooperHewittBold";
  display: block;
  margin-bottom: 0.5rem;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #f89b90;
}

.ValidationError {
  all: unset;
  color: red;
  font-family: 'CooperHewittBook';
  display: block;
  margin-top: 0.5rem;
}